* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    #eef2ff,
    #f8fafc
  );
  font-family: Arial, sans-serif;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.stats-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.stat-box {
  background: white;
  padding: 20px;
  width: 220px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.order-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.order-form input,
.order-form select {
  padding: 10px;
}

.order-form button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.orderbook-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.buy-section,
.sell-section {
  flex: 1;
  min-width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.buy-section th {
  background: #d4edda;
}

.sell-section th {
  background: #f8d7da;
}

.trade-history th {
  background: #e9ecef;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
}

.navbar {
  background: #111827;
  color: white;
  padding: 18px 30px;
  border-radius: 14px;
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links span {
  cursor: pointer;
  font-weight: 500;
}

.footer {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  color: #888;
}